@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;

  /* background */
  --background-primary: rgb(28, 1, 44);
  --background-secondary: rgb(37, 2, 58);
  --background-dark-tertiary: rgb(62, 17, 88);
  --background-light-primary: #f3f3f9;
  --background-light-secondary: #ffffff;
  /* background */


  /* text colors */
  --text-primary-dark: rgb(135, 138, 153);
  --text-primary-light: rgb(28, 1, 44);
  --text-secondary-light: rgb(37, 2, 58);
  --ziada-green: rgb(16, 139, 98);


  --info-success: rgb(26, 151, 26);
  --info-success-background: rgba(174, 200, 174, 0.485);
  --info-warning: orange;
  --info-orange-background: rgba(205, 156, 77, 0.485);
  --info-error: red;
  --info-error-background: rgba(202, 148, 148, 0.71);
  --info-info: rgb(19, 94, 169);
  --info-error-background: rgba(9, 42, 121, 0.71);

}

a {
  font-weight: 500;
  color: #1f7948;
  text-decoration: inherit;
}

a:hover {
  color: #1a683d;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(238, 239, 239);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}


button:hover {
  border-color: #2a643e;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}


.icon-btn {
  width: 1.5em;
  height: 1.5em;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  margin: .5em;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  color: var(--text-primary-dark);
}


.icon-btn:hover {
  background: rgba(0, 139, 88, 0.204);
  color: rgb(28, 153, 97);
}


.icon-btn.active {
  background: rgba(0, 139, 88, 0.204);
  color: rgb(30, 91, 63);
}


.segmentTitle {
  font-size: 15px;
  font-weight: 600;
  color: rgb(38, 106, 82);
  border-bottom: 1px solid rgba(79, 78, 78, 0.164);
  text-align: left;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(204, 204, 204, 0.456);
  padding-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  padding-top: .5em;
  color: var(--ziada-green);
}


.segment {
  background: #fff;
  border-radius: 5px;
  padding: 1em;
  overflow-x: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

select {

  height: 2em;
  border-radius: 5px;
  margin-top: .3em;
  width: 100%;
}


.contentTitleBar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.332);
  padding-bottom: .5em;
  margin-bottom: .5em;
  display: flex;
  justify-content: space-between;
}

.contentTitle {
  color: var(--text-primary-light);
  font-weight: 500;
  font-size: 15px;

}

table {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 11px !important;
}


.modal {
  background-color: rgba(0, 0, 0, 0.533);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);


}

.modalContent {
  width: 80vw;
  min-height: 10em;
  overflow: auto;
  border: 1px solid rgba(128, 128, 128, 0.148);
  animation: grow .4s;
  position: absolute;
}


.closeModal {
  font-size: 30px;
  cursor: pointer;
}

input {
  background-color: rgba(94, 94, 94, 0.23);
  border: none;
  border-radius: 4px;
  line-height: 2.5em;
  width: 100%;
}



textarea {
  background-color: rgba(94, 94, 94, 0.23);
  border: none;
  border-radius: 4px;
  width: 100%;
}



select {
  background-color: rgba(94, 94, 94, 0.23);
  border: none;
  border-radius: 4px;
  line-height: 2.5em;
  width: 100%;
  height: 3em;
}



textarea:focus,
input:focus {
  outline: none;
}

input:focus {
  outline: 1px solid var(--info-info);

}

textarea:focus {
  outline: 1px solid var(--info-info);
}

.labelDesc {
  color: crimson;
  font-style: italic;
  font-size: smaller;
}


@media only screen and (min-width:640px) {
  .modalContent {
    width: 30em;
    min-height: 10em;
    overflow: auto;
    border: 1px solid rgba(128, 128, 128, 0.148);
    animation: grow .4s;
    position: absolute;

  }

  .icon-btn {
    width: 1.5em;
    height: 1.5em;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    margin: .5em;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: var(--text-primary-dark);
  }


}


/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #eef3f0;
  }

  a:hover {
    color: #113821;
  }
} */